:root {
    --pale-blue: rgb(75, 112, 150);
    --dark-pale-blue: rgb(50, 75, 100);
}

* {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-size: xx-large;
}

h4, h5, h6 {
    font-size: x-large;
}

strong {
    font-weight: 900;
}

header {
    width: 100vw;
    height: 5vh;
    background-image: linear-gradient(to right, rgb(25, 25, 100), rgb(50, 0, 125));
    color: white;
    align-items: center;
}

main {
    background-color: lightgrey;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 93vh;
    padding-top: 2vh;
}

.container aside {
    /* width: 25vw; */
    height: 100%;
}

.container section {
    width: 75vw;
    height: 100%;
}

.search-bar form {
    border-bottom: 4px dotted darkblue;
    padding-bottom: 1vh;
    margin: 10px;
}

.search-bar form input {
    border: 3px inset grey; 
    border-radius: 10px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

section div.flex-column {
    margin-right: 1vh;
}

div.day {
    background-color: var(--pale-blue);
    color: white;
    margin: 5px 15px;
    /* width: 250px; */
    /* height: 25vh; */
    display: inline-block;
    padding: 5px;
}

.day h4 {
    padding: 5px;
}

button.recent {
    display: block;
    width: 50%;
    height: 4vh;
    margin-top: 5%;
    background-color: rgb(75, 100, 150);
}

.submit-btn {
    margin-top: 15px;
    background-color: var(--pale-blue);
    color: white;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: var(--dark-pale-blue);
    cursor: pointer;
}

.moderate {
    background-color: #fcce00;
    color: black;
}

.high {
    background-color: #aa6100;
}

.very-high {
    background-color: #cc0000;
}

.extreme {
    background-color: #cc00cc;
}

#recent-cities {
    align-items: center;
}

#units {
    position: absolute;
    top: 15px;
    right: 15px;
}

#current-data {
    border: 2px solid black;
    height: 35vh;
    padding: 1%;
    align-content: flex-start;
}

#current-data h1, #current-data h2, #current-data h3, #current-data h4, #current-data h5, #current-data h6 {
    padding: 20px;
}

#current-UV {
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 2px;
}

#forecast {
    text-align: left;
    flex-wrap: wrap;
}

#main-container section {
    text-align: left;
}

#main-container aside {
    text-align: center;
}

#five-day {
    margin: 1vh 0;
}

@media only screen and (max-width: 820px) {
    h1, h2, h3 {
        font-size: larger;
    }

    h4, h5, h6 {
        font-size: large;
    }
    
    .search-bar {
        width: 100vw;
    }

    .day {
        height: 15vh;
        min-height: 140px;
        width: 150px;
    }

    /* .day h4 {
        padding: 1px 5px;
    } */

    img.forecast-icon {
        height: 30px;
        width: 30px;
    }

    .container section {
        width: 100vw;
    }

    #current-data {
        height: 300px;
    }
    
    #main-container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 821px) {
    form input {
        height: 3vh;
        width: 12vw;
        font-size: larger;
    }
    
    .search-bar {
        width: 25vw;
    }

    .day {
        height: 25vh;
        width: 250px;
    }

    #current-data {
        min-height: 300px;
    }

    .submit-btn {
        height: 3vh;
        width: 8vw;
        font-size: larger;
    }
}